.container-grid-item {
  background-color: var(--nord1);
  border: 1px solid var(--nord0);
  padding: 20px;
  font-size: 1rem;
  color: var(--nord6);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.container-icon {
  max-width: 40px;
  max-height: 40px;
  float: left;
  margin-top: 4px;
  margin-right: 16px;
}

.container-update-icon {
  max-width: 20px;
  max-height: 20px;
  float: right;
  margin-top: 0px;
  margin-right: 0px;
}

.container-icon-cell {
  grid-column: 1;
  grid-row: 1;
}

.container-name-cell {
  grid-column: 2/5;
  grid-row: 1;
  text-align: left;
}

.container-update-cell {
  grid-column: 5;
  grid-row: 1;
}

.hide {
  display: none;
}